[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mqtt-controller = {editable = true, path = "./mqtt-controller"}
paho-mqtt = "*"
requests = "*"
flask = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.10"
